<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:if="${clearanceRequest.id == null}">ایجاد درخواست ترخیص جدید</title>
    <title th:if="${clearanceRequest.id != null}">ویرایش درخواست ترخیص</title>
</head>

<body>
<div class="row align-center large-12 xlarge-11" layout:fragment="main-content">
    <div class="large-2 show-for-large cell right" data-sticky-container>
        <div data-sticky data-top-anchor="central-widget">
            <div th:replace="fragments/menus/root_menu :: menu('/clearance-requests')"></div>
            <div class="spacer"></div>
        </div>
    </div>

    <div id="central-widget" class="large-10 columns">
        <div class="row">
            <div class="column float-right hide-for-large">
                <button type="button" class="primary button" data-toggle="form-dropdown" data-close-on-click="true">
                    <i class="fa fa-bars fa-fw" aria-hidden="true"></i>
                    منو
                </button>
            </div>
            <div class="column float-left" style="text-align: left;">
                <th:block sec:authorize="hasAnyAuthority('SURVEILLANCE', 'USER_LEVEL_1')">
                    <button type="button" class="success button"
                            id="confirm-btn"
                            th:classappend="${clearanceRequest.isFinalConfirmed == 1 ? 'disabled' : ''}"
                            th:disabled="${clearanceRequest.isFinalConfirmed == 1}">
                        <i class="fa fa-thumbs-up fa-fw" aria-hidden="true"></i>
                        <th:block th:text="${clearanceRequest.isFinalConfirmed == 1 ? 'ترخیص شده (در انتظار ثبت در سامانه معاملات)' : 'تأیید نهایی و ترخیص'}"/>
                    </button>
                    <button th:if="${clearanceRequest.isFinalConfirmed != 1}" type="button" class="alert button" id="discard-btn">
                        <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
                        ابطال
                    </button>
                </th:block>
                <a href="/clearance-requests" class="primary hollow button">
                    <i class="fa fa-remove fa-fw" aria-hidden="true"></i>
                    <span th:if="${clearanceRequest.id == null}">انصراف</span>
                    <span th:if="${clearanceRequest.id != null}">بازگشت به لیست درخواست‌های ترخیص</span>
                </a>
            </div>
        </div>
        <div class="dropdown-pane" id="form-dropdown" data-dropdown data-auto-focus="true" data-close-on-click="true">
            <div th:replace="fragments/menus/root_menu :: menu('/clearance-requests')"></div>
        </div>
        <hr class="multi-step-checkout-form-divider">

        <div th:replace="fragments/flash_messages :: messages"></div>

        <div id="temp-asset-form" class="multi-step-checkout-process">
            <div class="multi-step-checkout-process-step">
                <ul class="accordion" data-accordion>
                    <li class="accordion-item is-active" data-accordion-item>
                        <div th:if="${clearanceRequest.id == null}" class="accordion-title">ایجاد درخواست ترخیص</div>
                        <div th:if="${clearanceRequest.id != null}" class="accordion-title">ویرایش درخواست ترخیص</div>
                        <div class="accordion-content" data-tab-content>
                            <form class="multi-step-checkout-form"
                                  th:action="${clearanceRequest.id == null ? '/clearance-requests/new' : ('/clearance-requests/edit/' + clearanceRequest.id)}"
                                  th:object="${clearanceRequest}" accept-charset="UTF-8" method="post">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                <div class="row">
                                    <div class="small-12 medium-12 column">
                                        <div class="shipping-address multi-step-checkout-step-section">
                                            <h6 class="multi-step-checkout-step-subheader">مشخصات سهامدار</h6>
                                            <p class="multi-step-checkout-step-subdesc">مشخصات سهامدار متقاضی ترخیص به این شرح می‌باشد.</p>

                                            <div class="row">
                                                <div class="small-12 medium-3 large-2 column">
                                                    <label for="clearanceRequest_investor_ptcode"
                                                           th:classappend="${errors?.containsKey('investor.ptcode')} ? 'is-invalid-label' : ''">
                                                        کد سهامداری
                                                        <input th:field="*{investor.ptcode}"
                                                               type="text" readonly
                                                               th:classappend="${errors?.containsKey('investor.ptcode')} ? 'is-invalid-input' : ''"
                                                               id="clearanceRequest_investor_ptcode"/>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="small-12 medium-4 large-3 column">
                                                    <label for="clearanceRequest_investor_firstName"
                                                           th:classappend="${errors?.containsKey('investor.firstName')} ? 'is-invalid-label' : ''">
                                                        نام سهامدار
                                                        <input th:field="*{investor.firstName}"
                                                               type="text" readonly
                                                               th:classappend="${errors?.containsKey('investor.firstName')} ? 'is-invalid-input' : ''"
                                                               id="clearanceRequest_investor_firstName"/>
                                                    </label>
                                                </div>
                                                <div class="small-12 medium-5 large-4 column">
                                                    <label for="clearanceRequest_investor_lastName"
                                                           th:classappend="${errors?.containsKey('investor.lastName')} ? 'is-invalid-label' : ''">
                                                        نام خانوادگی سهامدار
                                                        <input th:field="*{investor.lastName}"
                                                               type="text" readonly
                                                               th:classappend="${errors?.containsKey('investor.lastName')} ? 'is-invalid-input' : ''"
                                                               id="clearanceRequest_investor_lastName"/>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="shipping-address multi-step-checkout-step-section">
                                            <h6 class="multi-step-checkout-step-subheader">مشخصات دارایی</h6>
                                            <p class="multi-step-checkout-step-subdesc">مقدار دارایی در انبار و سایر اطلاعات شناسایی</p>

                                            <div class="row">
                                                <div class="small-12 medium-3 column">
                                                    <label for="asset_quantity">
                                                        موجودی در انبار
                                                        <div class="input-group">
                                                            <input th:value="${assetQnty}"
                                                                   type="number" dir="ltr" readonly
                                                                   id="asset_quantity"/>
                                                            <span class="input-group-label" th:text="*{storage.instrument.weightUnit}"></span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="shipping-address multi-step-checkout-step-section">
                                            <h6 class="multi-step-checkout-step-subheader">جزئیات درخواست ترخیص</h6>
                                            <p class="multi-step-checkout-step-subdesc">درخواست ترخیص مورد نظر با مشخصات زیر ثبت شده است.</p>

                                            <div class="row">
                                                <div class="small-12 medium-4 large-3 column">
                                                    <label for="clearanceRequest_quantity"
                                                           th:classappend="${errors?.containsKey('quantity')} ? 'is-invalid-label' : ''">
                                                        تعداد
                                                        <div class="input-group">
                                                            <input th:field="*{quantity}"
                                                                   type="number" dir="ltr"
                                                                   th:classappend="${errors?.containsKey('quantity')} ? 'is-invalid-input' : ''"
                                                                   id="clearanceRequest_quantity"/>
                                                            <span class="input-group-label" th:text="*{storage.instrument.weightUnit}"></span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="small-12 medium-12 large-12 column">
                                                    <label for="clearanceRequest_description"
                                                           th:classappend="${errors?.containsKey('description')} ? 'is-invalid-label' : ''">
                                                        شرح
                                                        <textarea th:field="*{description}"
                                                                  placeholder="شرح و توضیحات ترخیص"
                                                                  th:classappend="${errors?.containsKey('description')} ? 'is-invalid-input' : ''"
                                                                  id="clearanceRequest_description"></textarea>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="small-12 medium-5 large-4 column">
                                                    <label for="clearanceRequest_confirmingUser_fullname"
                                                           th:classappend="${errors?.containsKey('registrantUser.fullname')} ? 'is-invalid-label' : ''">
                                                        کاربر ثبت کننده
                                                        <input th:value="*{registrantUser.fullname}"
                                                               type="text" readonly
                                                               th:classappend="${errors?.containsKey('registrantUser.fullname')} ? 'is-invalid-input' : ''"
                                                               id="clearanceRequest_confirmingUser_fullname"/>
                                                    </label>
                                                </div>
                                                <div class="small-12 medium-4 large-3 column">
                                                    <label for="clearanceRequest_registerDate" th:classappend="${errors?.containsKey('confirmDate')} ? 'is-invalid-label' : ''">
                                                        تاریخ ثبت
                                                        <div class="input-group">
                                                            <!-- TODO make readonly -->
                                                            <input type="text" readonly
                                                                   th:classappend="${errors?.containsKey('registerDate')} ? 'is-invalid-input' : ''"
                                                                   id="clearanceRequest_registerDate"/>
                                                            <span class="input-group-label clear-input"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i></span>
                                                        </div>
                                                        <input type="hidden" th:field="*{registerDate}" id="registerDate"/>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <input th:if="${clearanceRequest.id != null}" type="submit" name="commit" class="primary button expanded" value="ویرایش درخواست ترخیص"
                                               th:classappend="${clearanceRequest.isFinalConfirmed == 1 ? 'disabled' : ''}"
                                               th:disabled="${clearanceRequest.isFinalConfirmed == 1}"/>
                                        <input th:if="${clearanceRequest.id == null}" type="submit" name="commit" class="primary button expanded" value="ایجاد درخواست ترخیص"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="reveal" id="confirmModal" data-reveal>
        <form id="confirm-form" th:object="${clearanceRequest}" th:action="'/clearance-requests/confirm/' + ${id}" method="post">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <div class="row">
                <div class="small-12 medium-12 column">
                    <h5>تأیید نهایی و ترخیص</h5>
                </div>
                <div class="small-12 medium-12 column">
                    کد سهامداری:
                    <span th:text="*{investor.ptcode}" style="font-weight: bold;">-</span>
                </div>
                <div class="small-12 medium-12 column">
                    نام و نام خانوادگی:
                    <span th:text="*{investor.firstName + ' ' + investor.lastName}" style="font-weight: bold;">-</span>
                </div>
                <div class="small-12 medium-12 column">
                    مقدار:
                    <span th:text="*{quantity}" style="font-weight: bold;">-</span>
                    <th:block th:text="*{storage.instrument.weightUnit}"/>
                </div>
                <div class="small-12 medium-12 column">
                    شرح:
                    <span th:text="*{description}" style="font-weight: bold;">-</span>
                </div>
                <div class="small-12 medium-12 column" style="margin-top: 16px;">
                    <input id="confirm-cb" type="checkbox"><label for="confirm-cb">از صحت اطلاعات فوق اطمینان دارم.</label>
                </div>
                <div class="small-12 medium-12 column">
                    <input type="submit" name="confirm" class="success button float-left" value="تأیید نهایی و ترخیص"/>
                </div>
            </div>
        </form>
        <button class="close-button" data-close aria-label="Close modal" type="button" style="left: 1rem; right: inherit;">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="reveal" id="discardModal" data-reveal>
        <form id="discard-form" th:object="${clearanceRequest}" th:action="'/clearance-requests/discard/' + ${id}" method="post">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <div class="row">
                <div class="small-12 medium-12 column">
                    <h5>ابطال ترخیص</h5>
                </div>
                <div class="small-12 medium-12 column">
                    کد سهامداری:
                    <span th:text="*{investor.ptcode}" style="font-weight: bold;">-</span>
                </div>
                <div class="small-12 medium-12 column">
                    نام و نام خانوادگی:
                    <span th:text="*{investor.firstName + ' ' + investor.lastName}" style="font-weight: bold;">-</span>
                </div>
                <div class="small-12 medium-12 column">
                    مقدار:
                    <span th:text="*{quantity}" style="font-weight: bold;">-</span>
                    <th:block th:text="*{storage.instrument.weightUnit}"/>
                </div>
                <div class="small-12 medium-12 column">
                    شرح:
                    <span th:text="*{description}" style="font-weight: bold;">-</span>
                </div>
                <div class="small-12 medium-12 column" style="margin-top: 16px;">
                    <input id="discard-cb" type="checkbox"><label for="discard-cb">نسبت به ابطال ترخیص اطمینان دارم.</label>
                </div>
                <div class="small-12 medium-12 column">
                    <input type="submit" name="confirm" class="alert button float-left" value="ابطال"/>
                </div>
            </div>
        </form>
        <button class="close-button" data-close aria-label="Close modal" type="button" style="left: 1rem; right: inherit;">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript" src="/js/persian-date.min.js"></script>
    <script type="text/javascript" src="/js/persian-datepicker.min.js"></script>
    <script type="text/javascript" src="/js/datePickerRange.js"></script>

    <script th:inline="javascript">
        const form = $('#confirm-form');
        $('#confirm-cb').click(function() {
            this.checked ? form.unbind('submit').submit(confirm) : form.submit(false);
            form.find('input[type=submit]').attr('disabled', !this.checked);
        });
        const confirm = function (e) {
            form.find('input[type=submit]').attr('disabled', true);
        };

        const form2 = $('#discard-form');
        $('#discard-cb').click(function() {
            this.checked ? form2.unbind('submit').submit(discard) : form2.submit(false);
            form2.find('input[type=submit]').attr('disabled', !this.checked);
        });
        const discard = function (e) {
            form2.find('input[type=submit]').attr('disabled', true);
        };

        $('#confirm-btn').click(function () {
            confirmBox.open();
            $('#confirm-cb').prop('checked', true).trigger('click');
        });

        $('#discard-btn').click(function () {
            discardBox.open();
            $('#discard-cb').prop('checked', true).trigger('click');
        });

        window.confirmBox = new Foundation.Reveal($('#confirmModal'));
        window.discardBox = new Foundation.Reveal($('#discardModal'));

        setup_jalali_datepicker($('#clearanceRequest_registerDate'), $('#registerDate'));
    </script>
</th:block>

</body>
</html>