<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
</head>

<body>
    <ul class="root-menu list-group" th:fragment="menu_layout">
        <li th:each="i: ${#numbers.sequence(0, strList.size() - 1)}" class="list-group-item" th:classappend="|${currentTab == pathList[i] ? 'active' : ''} ${levelList[i] == 2 ? 'hide' : (levelList[i] == 0 ? 'node' : '')}|" th:attr="data-group=${groupList[i]}">
            <a th:if="${levelList[i] == 2}" th:href="${pathList[i]}" class="sub" style="display: flex; flex-direction: row; align-items: baseline;">
                <i class="fa fa-fw" th:classappend="${iconList[i]}" aria-hidden="true"></i>
                <div style="padding-right: 9px;" th:text="${strList[i]}"></div>
            </a>
            <span th:if="${levelList[i] == 0}" style="display: flex; flex-direction: row; align-items: baseline;">
                <i class="fa fa-fw fa-chevron-left" aria-hidden="true"></i>
                <div style="padding-right: 9px;" th:text="${strList[i]}"></div>
            </span>
            <a th:if="${levelList[i] == 1}" th:href="${pathList[i]}" style="display: flex; flex-direction: row; align-items: baseline;">
                <i class="fa fa-fw" th:classappend="${iconList[i]}" aria-hidden="true"></i>
                <div style="padding-right: 9px;" th:text="${strList[i]}"></div>
            </a>
        </li>
    </ul>
</body>
</html>