<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<nav class="docs-toc-wrap" th:fragment="menu(currentTab)">
    <div data-anchor="enrolment-form" data-margin-top="5">
        <th:block th:with="strList = ${ {'گزارش‌ها', 'اندرونی', 'موجودی انبارهای موقت', 'موجودی انبارهای بورسی', 'موجودی انبارهای خروجی', 'موجودی تعدادی انبارها', 'موجودی تعدادی افراد', 'ترخیص', 'ایجاد دارایی', 'معاملات', 'نقل و انتقال', 'آخرین تحویل آتی / اختیار', 'بازگشت به خانه'} }">
            <th:block th:with="levelList = ${ {0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1} }">
                <th:block th:with="iconList = ${ {'', 'fa-bars', 'fa-bomb', 'fa-book', 'fa-check', 'fa-cart-plus', 'fa-cube', 'fa-circle', 'fa-fax', 'fa-fire', 'fa-gavel', 'fa-history', 'fa-undo'} }">
                    <th:block th:with="pathList = ${ {'', '/home', '/#', '/#', '/#', '/#', '/#', '/#', '/#', '/#', '/#', '/#', '/../admin/home'} }">
                        <ul id="docsTOC" class="list-group">
                            <li th:each="i: ${#numbers.sequence(0, strList.size() - 1)}" class="list-group-item" th:classappend="${currentTab == i ? 'active' : ''}">
                                <a th:if="${levelList[i] == 2}" th:href="${'/admin/reports' + pathList[i]}" class="sub">
                                    <i class="fa fa-fw" th:classappend="${iconList[i]}" aria-hidden="true"></i>
                                    &nbsp; [[${strList[i]}]]
                                </a>
                                <span th:if="${levelList[i] == 0}">
                                    <i class="fa fa-fw fa-chevron-down" aria-hidden="true"></i>
                                    &nbsp; [[${strList[i]}]]
                                </span>
                                <a th:if="${levelList[i] == 1}" th:href="${'/admin' + pathList[i]}">
                                    <i class="fa fa-fw" th:classappend="${iconList[i]}" aria-hidden="true"></i>
                                    &nbsp; [[${strList[i]}]]
                                </a>
                            </li>
                        </ul>
                    </th:block>
                </th:block>
            </th:block>
        </th:block>
    </div>
</nav>
</body>
</html>