<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:form="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>مدیریت انبارها</title>
</head>

<body>
<div class="row align-center large-12 xlarge-11" layout:fragment="main-content">
    <div class="large-2 show-for-large cell right" data-sticky-container>
        <div data-sticky data-top-anchor="central-widget">
            <div th:replace="fragments/menus/root_menu :: menu('/storages')"></div>
            <div class="spacer"></div>
        </div>
    </div>

    <div id="central-widget" class="large-10 columns">
        <button type="button" class="button primary hide-for-large" data-toggle="form-dropdown" data-close-on-click="true">
            <i class="fa fa-bars fa-fw" aria-hidden="true"></i>
            منو
        </button>
        <a href="/storages/new" class="button float-left">
            <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
            ایجاد انبار جدید
        </a>
        <div class="dropdown-pane" id="form-dropdown" data-dropdown data-auto-focus="true" data-close-on-click="true">
            <div th:replace="fragments/menus/root_menu :: menu('/storages')"></div>
        </div>
        <hr class="multi-step-checkout-form-divider">

        <div th:replace="fragments/flash_messages :: messages"></div>

        <div id="storage-list">
            <table id="storage-table" class="hover">
                <thead>
                    <tr>
                        <th>ردیف</th>
                        <th>نام انبار</th>
                        <th>نماد</th>
                        <th>شرح نماد</th>
                        <th>تاریخ سررسید</th>
                        <th>سقف ظرفیت</th>
                        <th>هزینه انبارداری</th>
                        <th>مالیات بر ارزش افزوده</th>
                        <th>وضعیت</th>
                    </tr>
                </thead>

                <tbody>
                </tbody>
            </table>

            <hr class="multi-step-checkout-form-divider">

            <div class="row float-left">
                <div class="columns">
                    <a id="download-btn" data-href="/storages/export-csv" class="button" target="_blank">
                        <i class="fa fa-download fa-fw" aria-hidden="true"></i>
                        دانلود
                    </a>
                    <!-- <button type="button" class="button">
                        <i class="fa fa-print fa-fw" aria-hidden="true"></i>
                        چاپ
                    </button> -->
                </div>
            </div>
        </div>
    </div>

    <div id="filter-select" class='small-4 columns cell'>
        <div class='dataTables_length'>
            <label>وضعیت
                <select id='storage-table_status' aria-controls='storage-table' style='width: 100px;'>
                    <option value=''>همه</option>
                    <option th:each="a : ${activityStates}"
                            th:text="${a.desc}"
                            th:value="${a.id}">
                    </option>
                </select>
            </label>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <link rel="stylesheet" type="text/css" href="/css/datatables.min.css"/>
    <script type="text/javascript" src="/js/datatables.min.js"></script>
    <script type="text/javascript" src="/js/persian-date.min.js"></script>
    <script type="text/javascript" src="/js/persian-datepicker.min.js"></script>
    <script type="text/javascript" src="/js/storages.js"></script>

    <script th:inline="javascript">
        $(window).resize(function () {
            // https://get.foundation/sites/docs/dropdown.html#close
            $(".dropdown-pane").foundation('close');
        });

        $(document).ready(function () {
            $('#storage-table tbody').on('click', 'td', function () {
                if (this.cellIndex === 0) return;
                window.location.href = "/storages/edit/" + window.table.row(this).id();
            });
        });

        setup_datatable($('#download-btn'));
    </script>
</th:block>

</body>
</html>
