<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:if="${tempAsset.id != null}">ویرایش انبار موقت</title>
    <title th:if="${tempAsset.id == null}">ایجاد انبار موقت جدید</title>
</head>

<body>
<div class="row align-center large-12 xlarge-11" layout:fragment="main-content">
    <div class="large-2 show-for-large cell right" data-sticky-container>
        <div data-sticky data-top-anchor="central-widget">
            <div th:replace="fragments/menus/root_menu :: menu('/temp-assets')"></div>
            <div class="spacer"></div>
        </div>
    </div>

    <div id="central-widget" class="large-10 columns">
        <div class="row">
            <div class="column float-right hide-for-large">
                <button type="button" class="primary button" data-toggle="form-dropdown" data-close-on-click="true">
                    <i class="fa fa-bars fa-fw" aria-hidden="true"></i>
                    منو
                </button>
            </div>
            <div class="column float-left" style="text-align: left;">
                <th:block sec:authorize="hasAuthority('USER_LEVEL_1')" th:if="${tempAsset.id != null}">
                    <button type="button" class="success button" id="confirm-btn"
                            th:classappend="${tempAsset.isFinalConfirmed == 1 ? 'disabled' : ''}"
                            th:disabled="${tempAsset.isFinalConfirmed == 1}">
                        <i class="fa fa-thumbs-up fa-fw" aria-hidden="true"></i>
                        <th:block th:text="${tempAsset.isFinalConfirmed == 1 ? 'تأیید شده (در انتظار ثبت در سامانه معاملات)' : 'تأیید نهایی'}"/>
                    </button>
                    <button th:if="${tempAsset.isFinalConfirmed != 1}" type="button" class="alert button" id="discard-btn">
                        <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
                        ابطال
                    </button>
                </th:block>
                <a href="/temp-assets" class="secondary hollow button">
                    <i class="fa fa-remove fa-fw" aria-hidden="true"></i>
                    <span th:if="${tempAsset.id == null}">انصراف</span>
                    <span th:if="${tempAsset.id != null}">بازگشت</span>
                </a>
            </div>
        </div>
        <div class="dropdown-pane" id="form-dropdown" data-dropdown data-auto-focus="true" data-close-on-click="true">
            <div th:replace="fragments/menus/root_menu :: menu('/temp-assets')"></div>
        </div>
        <hr class="multi-step-checkout-form-divider">

        <div th:replace="fragments/flash_messages :: messages"></div>

        <div id="temp-asset-form" class="multi-step-checkout-process">
            <div class="multi-step-checkout-process-step">
                <ul id="accordion" class="accordion" data-accordion disabled>
                    <li id="step1" class="accordion-item" th:classappend="${errors?.size() != 0 || tempAsset.id == null ? 'is-active' : ''}" data-accordion-item>
                        <a class="accordion-title">استعلام و تعیین سهامدار <span class="multi-step-checkout-step-title-subheader">گام ۱ از ۲</span></a>

                        <div class="accordion-content" data-tab-content>
                            <form id="step1-form" class="multi-step-checkout-form" th:object="${tempAsset}">
                                <div class="row">
                                    <div class="small-12 medium-12 column">
                                        <div class="shipping-address multi-step-checkout-step-section">
                                            <h6 class="multi-step-checkout-step-subheader">مشخصات سهامدار</h6>
                                            <p class="multi-step-checkout-step-subdesc">لطفاً اطلاعات سهامدار را جستجو و درج نمایید.</p>

                                            <div class="row">
                                                <div class="small-12 medium-4 large-4 column">
                                                    <label for="ciindv" th:classappend="${errors?.containsKey('investor.ptcode')} ? 'is-invalid-label' : ''">
                                                        کد سهامداری
                                                        <input th:field="*{investor.ptcode}"
                                                                type="text"
                                                                th:classappend="${errors?.containsKey('investor.ptcode')} ? 'is-invalid-input' : ''"
                                                                id="ciindv"/>
                                                    </label>
                                                </div>
                                                <div class="small-12 medium-5 large-5 column">
                                                    <label for="cisnam">
                                                        شماره ملی / ثبت
                                                        <input th:field="*{investor.nationalId}" type="text" dir="ltr" id="cisnam"/>
                                                    </label>
                                                </div>
                                                <div class="small-12 medium-3 large-3 column">
                                                    <label for="ciityp">
                                                        نوع شخص
                                                        <select th:field="*{investor.personType}" id="ciityp">
                                                            <option th:each="i : ${personTypes}"
                                                                    th:text="${i.desc}"
                                                                    th:value="${i.id}">
                                                            </option>
                                                        </select>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row align-left">
                                                <div class="small-12 medium-4 large-2 column">
                                                    <button type="button" id="query-btn" class="primary hollow button expanded" style="margin-top: 9px;">
                                                        <i class="fa fa-search fa-fw" aria-hidden="true"></i>
                                                        <span id="query-title">استعلام سهامدار</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <fieldset class="fieldset">
                                                <legend>نتیجه استعلام</legend>
                                                <div class="row">
                                                    <div class="small-12 medium-4 large-3 column">
                                                        <label for="tempAsset_investor_asciiPtcode">
                                                            کد بورسی ۱۴ رقمی
                                                            <input type="number"
                                                                   th:field="*{investor.asciiPtcode}"
                                                                   dir="ltr" id="tempAsset_investor_asciiPtcode" class="tempAsset_investor_asciiPtcode" readonly/>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="small-12 medium-3 large-4 column">
                                                        <label for="tempAsset_investor_firstname">
                                                            نام
                                                            <input type="text" th:field="*{investor.firstName}" id="tempAsset_investor_firstname" class="tempAsset_investor_firstname" readonly/>
                                                        </label>
                                                    </div>
                                                    <div class="small-12 medium-4 large-5 column">
                                                        <label for="tempAsset_investor_lastname">
                                                            نام خانوادگی
                                                            <input type="text" th:field="*{investor.lastName}" id="tempAsset_investor_lastname" class="tempAsset_investor_lastname" readonly/>
                                                        </label>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>

                                        <input id="step1-btn" type="submit" class="primary button expanded disabled" value="ادامه" disabled>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <li id="step2" class="accordion-item" th:classappend="${errors?.size() == 0 && tempAsset.id != null ? 'is-active' : ''}" data-accordion-item>
                        <a th:if="${tempAsset.id == null}" class="accordion-title">ایجاد انبار موقت جدید <span class="multi-step-checkout-step-title-subheader">گام ۲ از ۲</span></a>
                        <a th:if="${tempAsset.id != null}" class="accordion-title">ویرایش انبار موقت <span class="multi-step-checkout-step-title-subheader">گام ۲ از ۲</span></a>

                        <div class="accordion-content" data-tab-content>
                            <form class="multi-step-checkout-form" th:action="${tempAsset.id == null ? '/temp-assets/new' : ('/temp-assets/edit/' + tempAsset.id)}" th:object="${tempAsset}" method="post">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                <div class="row">
                                    <div class="small-12 medium-12 column">
                                        <div class="shipping-address multi-step-checkout-step-section">
                                            <h6 class="multi-step-checkout-step-subheader">مشخصات سهامدار</h6>
                                            <p class="multi-step-checkout-step-subdesc">لطفاً اطلاعات سهامدار را جستجو و درج نمایید.</p>

                                            <input type="hidden" th:field="*{investor.firstName}" class="tempAsset_investor_firstname" readonly/>
                                            <input type="hidden" th:field="*{investor.lastName}" class="tempAsset_investor_lastname" readonly/>

                                            <div class="row">
                                                <div class="small-12 medium-4 large-3 column">
                                                    <label for="tempAsset_investor_asciiPtcode_2">
                                                        کد بورسی ۱۴ رقمی
                                                        <input type="number" dir="ltr"
                                                               th:field="*{investor.asciiPtcode}"
                                                               id="tempAsset_investor_asciiPtcode_2" class="tempAsset_investor_asciiPtcode" readonly/>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="small-12 medium-4 large-4 column">
                                                    <label for="tempAsset_investor_ptcode" th:classappend="${errors?.containsKey('investor.ptcode')} ? 'is-invalid-label' : ''">
                                                        کد سهامداری
                                                        <input th:field="*{investor.ptcode}"
                                                               type="text"
                                                               th:classappend="${errors?.containsKey('investor.ptcode')} ? 'is-invalid-input' : ''"
                                                               id="tempAsset_investor_ptcode" readonly/>
                                                    </label>
                                                </div>
                                                <div class="small-12 medium-5 large-5 column">
                                                    <label for="tempAsset_investor_nationalId">
                                                        شماره ملی / ثبت
                                                        <input th:field="*{investor.nationalId}"
                                                                type="number" dir="ltr" id="tempAsset_investor_nationalId" readonly/>
                                                    </label>
                                                </div>
                                                <div class="small-12 medium-3 large-3 column">
                                                    <label for="tempAsset_investor_personType">
                                                        نوع شخص
                                                        <select th:field="*{investor.personType}" id="tempAsset_investor_personType" disabled>
                                                            <option th:each="p : ${personTypes}"
                                                                    th:text="${p.desc}"
                                                                    th:value="${p.id}">
                                                            </option>
                                                        </select>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shipping-address multi-step-checkout-step-section">
                                            <h6 class="multi-step-checkout-step-subheader">مشخصات انبار موقت</h6>
                                            <p class="multi-step-checkout-step-subdesc">لطفاً اطلاعات شناسایی انبار موقت را وارد نمایید.</p>

                                            <input type="hidden" th:field="*{id}" id="tempAsset_id"/>
                                            <div class="row">
                                                <div class="small-12 medium-3 column">
                                                    <label for="tempAsset_quantity" th:classappend="${errors?.containsKey('quantity')} ? 'is-invalid-label' : ''">
                                                        مقدار کالا
                                                        <div class="input-group">
                                                            <input th:field="*{quantity}"
                                                                   type="number" dir="ltr"
                                                                   th:classappend="${errors?.containsKey('quantity')} ? 'is-invalid-input' : ''"
                                                                   id="tempAsset_quantity"/>
                                                            <span class="input-group-label" th:text="${weightUnit}"></span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="small-12 medium-4 column">
                                                    <label for="tempAsset_broker_name" th:classappend="${errors?.containsKey('broker.name')} ? 'is-invalid-label' : ''">
                                                        کارگزار ناظر
                                                        <input type="text"
                                                               th:field="*{broker.name}"
                                                               th:classappend="${errors?.containsKey('broker.name')} ? 'is-invalid-input' : ''"
                                                               id="tempAsset_broker_name"/>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <th:block sec:authorize="hasAuthority('ADMIN') || hasAuthority('SURVEILLANCE')">
                                            <div class="shipping-address multi-step-checkout-step-section">
                                                <h6 class="multi-step-checkout-step-subheader">مشخصات انبار</h6>
                                                <p class="multi-step-checkout-step-subdesc">محل نگهداری کالا را تعیین نمایید.</p>

                                                <div class="row">
                                                    <div class="small-12 medium-4 column">
                                                        <label for="tempAsset_storage_name" th:classappend="${errors?.containsKey('storage.name')} ? 'is-invalid-label' : ''">
                                                            نام انبار
                                                            <input type="text"
                                                                   th:field="*{storage.name}"
                                                                   th:classappend="${errors?.containsKey('storage.name')} ? 'is-invalid-input' : ''"
                                                                   id="tempAsset_storage_name"/>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </th:block>

                                        <input th:if="${tempAsset.id != null}" type="submit" name="commit" class="primary button expanded" value="ویرایش انبار موقت"/>
                                        <input th:if="${tempAsset.id == null}" type="submit" name="commit" class="primary button expanded" value="ایجاد انبار موقت جدید"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="reveal" id="confirmModal" data-reveal>
        <form id="confirm-form" th:object="${tempAsset}" th:action="'/temp-assets/confirm/' + ${id}" method="post">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <div class="row">
                <div class="small-12 medium-12 column">
                    <h5>تأیید نهایی دارایی</h5>
                </div>
                <div class="small-12 medium-12 column">
                    مقدار:
                    <span th:text="*{quantity}" style="font-weight: bold;">-</span>
                    <th:block th:text="${weightUnit}"/>
                </div>
                <div class="small-12 medium-12 column">
                    کارگزار ناظر:
                    <span th:text="*{broker.name}" style="font-weight: bold;">-</span>
                </div>
                <div class="small-12 medium-12 column">
                    کد سهامداری:
                    <span th:text="*{investor.ptcode}" style="font-weight: bold;">-</span>
                </div>
                <div class="small-12 medium-12 column">
                    کد / شناسه ملی:
                    <span th:text="*{investor.nationalId}" style="font-weight: bold;">-</span>
                </div>
                <div class="small-12 medium-12 column">
                    <hr class="multi-step-checkout-form-divider" style="margin-top: 6px;">
                </div>
                <div class="small-12 medium-12 column" style="margin-top: 16px;">
                    <input id="confirm-cb" type="checkbox"><label for="confirm-cb">از صحت اطلاعات فوق اطمینان دارم.</label>
                </div>
                <div class="small-12 medium-12 column">
                    <input type="submit" name="confirm" class="success button float-left" value="تأیید نهایی"/>
                </div>
            </div>
        </form>
        <button class="close-button" data-close aria-label="Close modal" type="button" style="left: 1rem; right: inherit;">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="reveal" id="discardModal" data-reveal>
        <form id="discard-form" th:object="${tempAsset}" th:action="'/temp-assets/discard/' + ${id}" method="post">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <div class="row">
                <div class="small-12 medium-12 column">
                    <h5>ابطال دارایی</h5>
                </div>
                <div class="small-12 medium-12 column">
                    مقدار:
                    <span th:text="*{quantity}" style="font-weight: bold;">-</span>
                    <th:block th:text="${weightUnit}"/>
                </div>
                <div class="small-12 medium-12 column">
                    کارگزار ناظر:
                    <span th:text="*{broker.name}" style="font-weight: bold;">-</span>
                </div>
                <div class="small-12 medium-12 column">
                    کد سهامداری:
                    <span th:text="*{investor.ptcode}" style="font-weight: bold;">-</span>
                </div>
                <div class="small-12 medium-12 column">
                    کد / شناسه ملی:
                    <span th:text="*{investor.nationalId}" style="font-weight: bold;">-</span>
                </div>
                <div class="small-12 medium-12 column">
                    <hr class="multi-step-checkout-form-divider" style="margin-top: 6px;">
                </div>
                <div class="small-12 medium-12 column" style="margin-top: 16px;">
                    <input id="discard-cb" type="checkbox"><label for="discard-cb">نسبت به ابطال دارایی فوق اطمینان دارم.</label>
                </div>
                <div class="small-12 medium-12 column">
                    <input type="submit" name="confirm" class="alert button float-left" value="ابطال دارایی"/>
                </div>
            </div>
        </form>
        <button class="close-button" data-close aria-label="Close modal" type="button" style="left: 1rem; right: inherit;">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript" src="/js/autoComplete.js"></script>

    <script th:inline="javascript">
        setQueryResult = function(data) {
            if (typeof data !== 'object' || data == null) {
                data = {personType: {}};
                $('#ciindv,#cisnam,#ciityp').addClass('is-invalid-input').parent().addClass('is-invalid-label');
                $('#accordion').attr('disabled', true);
                $('#step1-btn').addClass('disabled').attr('disabled', true);
            } else {
                $('#ciindv,#cisnam,#ciityp').removeClass('is-invalid-input').parent().removeClass('is-invalid-label');
                $('#accordion').attr('disabled', false);
                $('#step1-btn').removeClass('disabled').attr('disabled', false);
            }
            $('#tempAsset_investor_ptcode').val(data.ptcode);
            $('.tempAsset_investor_asciiPtcode').val(data.asciiPtcode);
            $('#tempAsset_investor_personType').val(data.personType.id);
            $('#tempAsset_investor_nationalId').val(data.nationalId);
            $('.tempAsset_investor_firstname').val(data.firstName);
            $('.tempAsset_investor_lastname').val(data.lastName);
        };

        const form = $('#confirm-form');
        $('#confirm-cb').click(function() {
            this.checked ? form.unbind('submit').submit(confirm) : form.submit(false);
            form.find('input[type=submit]').attr('disabled', !this.checked);
        });
        const confirm = function (e) {
            form.find('input[type=submit]').attr('disabled', true);
        };

        const form2 = $('#discard-form');
        $('#discard-cb').click(function() {
            this.checked ? form2.unbind('submit').submit(discard) : form2.submit(false);
            form2.find('input[type=submit]').attr('disabled', !this.checked);
        });
        const discard = function (e) {
            form2.find('input[type=submit]').attr('disabled', true);
        };

        $('#query-btn').click(function () {
            $('#query-btn').prop('disabled', true);
            $('#query-title').text('لطفاً صبر کنید...');
            $('#ciindv,#cisnam').attr('readonly', true);
            $('#ciityp').attr('disabled', true);

            $.get('/investors/query?ptcode=' + $('#ciindv').val() + '&nationalCode=' + $('#cisnam').val() + '&personType=' + $('#ciityp').val(), function(data, status, xhr) {
                setQueryResult(data);
                if (data && data.ptcode)
                    $('#ciindv').val(data.ptcode);
                if (data && data.personType)
                    $('#ciityp').val(data.personType.id);

            }).fail(function() {
                setQueryResult(null);

            }).always(function () {
                $('#query-btn').prop('disabled', false);
                $('#query-title').text('استعلام سهامدار');
                $('#ciindv,#cisnam').attr('readonly', false);
                $('#ciityp').attr('disabled', false);
            });
        });

        $('#confirm-btn').click(function () {
            confirmBox.open();
            $('#confirm-cb').prop('checked', true).trigger('click');
        });

        $('#discard-btn').click(function () {
            discardBox.open();
            $('#discard-cb').prop('checked', true).trigger('click');
        });

        $('#step1-form').submit(function (e) {
            $('.multi-step-checkout-process .accordion').foundation('down', $('#step2 .accordion-content'));
            e.preventDefault();
        });

        auto_input($('#tempAsset_storage_name'), '/storages/getByName?name=');
        auto_input($('#tempAsset_broker_name'), '/brokers/auto-complete?searchTerm=');

        window.confirmBox = new Foundation.Reveal($('#confirmModal'));
        window.discardBox = new Foundation.Reveal($('#discardModal'));
    </script>
</th:block>

</body>
</html>
