<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="rtl">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>گواهی سپرده کالایی</title>

    <link rel="stylesheet" href="/css/foundation_and_overrides.css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css">

    <style type="text/css" media="screen">
        @font-face {
            font-family: AlfaSans;
            font-style: normal;
            font-weight: bold;
            src: url(/fonts/IRANSansWeb_Bold.eot);
            src: url('/fonts/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
            url(/fonts/IRANSansWeb_Bold.woff2) format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
            url(/fonts/IRANSansWeb_Bold.woff) format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url(/fonts/IRANSansWeb_Bold.ttf) format('truetype');
        }
        @font-face {
            font-family: AlfaSans;
            font-style: normal;
            font-weight: 500;
            src: url(/fonts/IRANSansWeb_Medium.eot);
            src: url('/fonts/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
            url(/fonts/IRANSansWeb_Medium.woff2) format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
            url(/fonts/IRANSansWeb_Medium.woff) format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url(/fonts/IRANSansWeb_Medium.ttf) format('truetype');
        }
        @font-face {
            font-family: AlfaSans;
            font-style: normal;
            font-weight: 300;
            src: url(/fonts/IRANSansWeb_Light.eot);
            src: url('/fonts/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
            url(/fonts/IRANSansWeb_Light.woff2) format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
            url(/fonts/IRANSansWeb_Light.woff) format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url(/fonts/IRANSansWeb_Light.ttf) format('truetype');
        }
        @font-face {
            font-family: AlfaSans;
            font-style: normal;
            font-weight: 200;
            src: url(/fonts/IRANSansWeb_UltraLight.eot);
            src: url('/fonts/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
            url(/fonts/IRANSansWeb_UltraLight.woff2) format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
            url(/fonts/IRANSansWeb_UltraLight.woff) format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url(/fonts/IRANSansWeb_UltraLight.ttf) format('truetype');
        }
        @font-face {
            font-family: AlfaSans;
            font-style: normal;
            font-weight: normal;
            src: url(/fonts/IRANSansWeb.eot);
            src: url('/fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
            url(/fonts/IRANSansWeb.woff2) format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
            url(/fonts/IRANSansWeb.woff) format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url(/fonts/IRANSansWeb.ttf) format('truetype');
        }
        table {
            margin-top: 24px;
        }
        table.report-table td:nth-child(even) {
            font-weight: bold;
        }
        body {
            font-family: AlfaSans, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
            margin-top: 24px;
        }
        .pagebreak {
            clear: both;
            page-break-before: always;
        }
        @media print {
            @page {
                size: A5 portrait;
            }
        }
    </style>
</head>

<body>
<div class="main-content">
    <div class="row align-left">
        <div class="small-4 medium-3 large-3 xlarge-2 columns">
            <div class="column float-left" style="text-align: center;">
                <img class="img" src="/images/Ime_logo.jpeg"/>
                <p style="margin-top: 8px;">بورس کالای ایران</p>
            </div>
        </div>
    </div>

    <div class="row align-center">
        <div class="medium-12 columns">
            <h3 class="text-center">‎گواهی سپرده کالایی</h3>

            <table class="unstriped">
                <thead>
                <tr>
                    <td>شماره گواهی</td>
                    <td>ساعت و تاریخ صدور</td>
                    <td>ساعت و تاریخ چاپ</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${cta.id}"></td>
                    <td id="convertDate" th:text="${cta.convertDate}"></td>
                    <td id="printDate" th:text="${cta.printDate}"></td>
                </tr>
                </tbody>
            </table>

            <table class="unstriped">
                <thead>
                <tr>
                    <td>نام صاحب گواهی سپرده کالایی</td>
                    <td>کد بورسی</td>
                    <td>کد ۱۴ رقمی</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${cta.investorName}"></td>
                    <td th:text="${cta.ptCode}"></td>
                    <td th:text="${cta.ptCode14}"></td>
                </tr>
                <tr>
                    <td>نشانی</td>
                    <td th:text="${cta.investorAddress}"></td>
                </tr>
                </tbody>
            </table>

            <table class="unstriped report-table">
                <tbody>
                <tr>
                    <td width="200px">نام انبار</td>
                    <td th:text="${cta.storageName}"></td>
                </tr>
                <tr>
                    <td>نشانی انبار</td>
                    <td th:text="${cta.storageAddress}"></td>
                </tr>
                <tr>
                    <td>نام و نوع کالا</td>
                    <td th:text="${cta.symbolDescription}"></td>
                </tr>
                <tr>
                    <td>تعداد / مقدار</td>
                    <td th:text="${cta.quantity + ' ' + cta.weightUnit}"></td>
                </tr>
                <tr>
                    <td>تاریخ انقضای گواهی سپرده کالایی</td>
                    <td id="dueDate" th:text="${cta.dueDate}"></td>
                </tr>

                </tbody>
            </table>

            <table>
                <tbody>
                <tr>
                    <td style="height: 150px; vertical-align: top;">محل امضای مالک (مخصوص نسخه بایگانی نزد انباردار)</td>
                    <td style="vertical-align: top;">محل امضای اپراتور (<span th:text="${cta.userName}"></span>)</td>
                    <td style="vertical-align: top;">مهر انبار</td>
                </tr>
                </tbody>
            </table>
            <p>مندرجات دستورالعمل پذیرش انبار و صدور معامله و تسویه گواهی سپرده کالایی به منزله توافق بین خریدار و فروشنده است؛ و امضای مالک (سپرده‌گذار) ذیل این برگه به منزله پذیرش قوانین و ضوابط بورس و انبار است.</p>
        </div>
    </div>

    <script src="/js/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/persian-date.min.js"></script>
    <script type="text/javascript" src="/js/persian-datepicker.min.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let printDate = /*[[${cta.printDate}]]*/ '2021-01-01';
        let convertDate = /*[[${cta.convertDate}]]*/ '2021-01-01';
        /*]]>*/

        $("#convertDate").html(new persianDate(new Date(convertDate)).format('YYYY/MM/DD HH:mm:ss'));
        $("#printDate").html(new persianDate(new Date(printDate)).format('YYYY/MM/DD HH:mm:ss'));

        $(document).ready(function(){
            persian={0:'۰',1:'۱',2:'۲',3:'۳',4:'۴',5:'۵',6:'۶',7:'۷',8:'۸',9:'۹'};

            function traverse(el){
                if(el.nodeType==3){
                    var list=el.data.match(/[0-9]/g);
                    if(list!=null && list.length!=0){
                        for(var i=0;i<list.length;i++)
                            el.data=el.data.replace(list[i],persian[list[i]]);
                    }
                }
                for(var i=0;i<el.childNodes.length;i++){
                    traverse(el.childNodes[i]);
                }
            }
            traverse(document.body);

            window.print();
        });
    </script>
</div>
</body>

</html>
