$alert-callout-border-right-width: rem-calc(3);
$alert-callout-border-padding: 1.3rem;
$alert-callout-border-radius: 0.6rem;

.alert-callout-border {
  width: 100%;
  padding: $alert-callout-border-padding;
  border-right-width: $alert-callout-border-right-width;
  border-right-color: $medium-gray;

  strong {
    color: $body-font-color;
  }

  .close-button {
    @include vertical-center;
    left: 1rem;
    right: inherit;
  }

  &.radius {
    border-radius: $alert-callout-border-radius;
  }

  &.primary {
    border-right-color: $primary-color;

    strong {
      color: $primary-color;
    }
  }

  &.secondary {
    border-right-color: $secondary-color;

    strong {
      color: $secondary-color;
    }
  }

  &.alert {
    border-right-color: $alert-color;

    strong {
      color: $alert-color;
    }
  }

  &.success {
    border-right-color: $success-color;

    strong {
      color: $success-color;
    }
  }

  &.warning {
    border-right-color: $warning-color;

    strong {
      color: $warning-color;
    }
  }
}