$highlight: $primary-color;

.responsive-blog-footer {
  border-top: solid 1px $dark-gray;
  // background: darken($dark-gray, 25%);
  padding-top: $global-margin;
  padding-bottom: $global-margin;
  padding-left: $global-menu-padding;
  padding-right: $global-menu-padding;
  margin-top: $global-margin;
  // color: white;

  h5 {
    @media screen and (max-width: 39.9375em) {
      // font-size: 1.5rem;
    }
  }

  p {
    // color: $dark-gray;
  }

  .mailing-list {
    // margin-bottom: 1.5rem;
  }
  .mailing-container {
    // margin-bottom: 2rem;
  }

  .about-section, .tag-section {
    // margin-bottom: 2rem;

    a {
      // color: $highlight;
    }
  }

  .subscribe-button {
    background-color:$highlight;

    &:hover {
      background-color: darken($highlight, 5%);
      transition: color 0.3s ease-in;
    }
  }

  .fa-chevron-circle-up {
    font-size: 3rem;
    color: $dark-gray;

    &:hover {
      color: lighten($dark-gray, 15%);
      transition: color 0.3s ease-in;
    }
  }
}

.about-section > div {
  margin-top: 3px;
}