.menu {
  :hover {
    background-color: $light-gray;
  }
  .menu-text {
    padding-top: inherit;
    padding-bottom: inherit;
  }
  li a {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}

.top-bar-container > div {
  margin-top: 0 !important;
  .top-bar {
    margin-bottom: 0 !important;
    border-top: $alert-callout-border-right-width solid $primary-color;
    border-bottom: solid 1px $dark-gray;
    // box-shadow: $list-group-shadow;
  }

  .top-bar {
    .top-bar-left, .top-bar-right {
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
    }
    .top-bar-right {
      direction: ltr;
    }

    margin-bottom: $global-margin;
  }
}
