$list-group-background: $white;
$list-group-active-background: $primary-color;
$list-group-hover-background: $light-gray;
$list-group-disabled-background: $white;
$list-group-font-color: $body-font-color;
$list-group-font-disabled-color: $dark-gray;
$list-group-font-active-color: $white;
$list-group-border: 1px solid $light-gray;
$list-group-active-border: 1px solid $primary-color;
$list-group-shadow: 0 1px 2px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.05), 0 2px 8px rgba(0,0,0,0.05);
$list-group-border-radius: $global-radius;
$list-group-padding: $global-padding;
$list-group-margin: $global-margin;

.list-group {
  // margin-top: $global-margin;
  // margin-bottom: $list-group-margin;
  border: $list-group-border;
  border-radius: $list-group-border-radius;
  background: $list-group-background;
  box-shadow: $list-group-shadow;
  overflow: hidden;
  color: $list-group-font-color;

  & > :last-child {
    margin-bottom: 0;
  }

  .list-group-item {
    border-bottom: $list-group-border;
    display: flex;

    a, span {
      padding: 1rem;
      width: 100%;
    }

    .sub {
      padding-right: 2.4rem;
    }

    a {
      cursor: pointer;
      &:visited {
        color: $primary-color;
      }
    }

    &.active {
      a {
        color: $white;
      }
    }

    &:hover, &:focus {
      a {
        background-color: $list-group-hover-background;
      }
    }

    & > :last-child {
      margin-bottom: 0;
      border-bottom: none;
    }

    &.active, &.active:hover, &.active:focus {
      a {
        color: $list-group-font-active-color;
        background-color: $list-group-active-background;
      }
      border-color: $list-group-active-border;
    }

    &.disabled,
    &[disabled] {
      &,
      &:hover, &:focus {
        color: $list-group-font-disabled-color;
        cursor: not-allowed;
        background-color: $list-group-disabled-background;
      }
    }
  }
}
