.spacer {
  height: 3 * $global-margin;
}

a.button:visited {
  color: $white;
}
a.button.hollow:visited {
  color: $primary-color;
}

/* https://css-tricks.com/couple-takes-sticky-footer/#there-is-flexbox */
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.my-content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}
.my-footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

i.fa:not(.fa-lg) {
  vertical-align: middle;
}

.dataTables_length select, .dataTables_filter input {
  margin-right: 8px;
  margin-left: 8px;
}

.pointer-cursor {
  cursor: pointer;
}

select {
  -moz-appearance: none;
}

// https://stackoverflow.com/a/22559163/1994239
input[type='number'] {
  -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


.dropdown-pane .docs-toc-wrap ul {
  margin-right: 0;
}

table.hover tbody tr {
  cursor: pointer;
}

footer .fa-li {
  left: inherit;
  right: -2.14285714em;
}


input[readonly]:not([data-readonly]).pwt-datepicker-input-element {
  background-color: inherit;
  cursor: pointer;
}

.input-group .input-group-label.clear-input {
  cursor: pointer;
}

ul.root-menu li {
  cursor: pointer;
  &.active-lite {
    background-color: $primary-light;
  }
}