<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<th:block th:fragment="input">
    <label th:object="${object}" th:for="${object + '_' + field}" th:classappend="${errors?.containsKey(field)} ? 'is-invalid-label' : ''">
        <span th:text="${label}"></span>
        <input th:if="${postfix ?: ''} == ''"
               th:classappend="${errors?.containsKey(field)} ? 'is-invalid-input' : ''"
               th:attr="autocomplete=${autocomplete ?: ''}"
               th:attrappend="dir=${dir ?: (type == 'number' ? 'ltr' : '')}"
               th:type="${type ?: 'text'}"
               th:id="${object + '_' + field}"/>
        <div th:if="${postfix ?: ''} != ''" class="input-group">
            <input
                   th:classappend="${errors?.containsKey(field)} ? 'is-invalid-input' : ''"
                   th:attr="autocomplete=${autocomplete ?: ''}"
                   th:attrappend="dir=${dir ?: (type == 'number' ? 'ltr' : '')}"
                   th:type="${type ?: 'text'}"
                   th:id="${object + '_' + field}"/>
            <span class="input-group-label" th:text="${postfix}"></span>
        </div>
    </label>
</th:block>
</body>
</html>