<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<th:block th:fragment="messages" th:with="unauthorized = ${#httpServletRequest.getParameter('unauthorized') != null}">
    <div id="flash-errors" th:if="${errors?.size() > 0 || unauthorized}" data-closable class='callout alert-callout-border alert'>
        <div th:each="e: ${errors?.entrySet()}" th:text="${e.getValue()}"></div>
        <div th:if="${unauthorized}">شما اجازه دسترسی به صفحه مورد نظر را ندارید</div>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div id="flash-messages" th:if="${messages?.size() > 0}" data-closable class='callout alert-callout-border success'>
        <div th:each="message: ${messages}" th:text="${message}"></div>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</th:block>
</body>
</html>