<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div class="top-bar-container" data-sticky-container th:fragment="header">
    <div class="sticky" data-top-anchor="0" data-options="stickyOn: small;">
        <nav class="top-bar">
            <div class="top-bar-left">
                <ul class="menu" data-dropdown-menu>
                    <li class="menu-text" style="font-weight: bold;">
                        <a href="/" style="display: flex; flex-direction: row; align-items: center;">
                            <th:block sec:authorize="hasAnyAuthority('USER_LEVEL_1', 'USER_LEVEL_2')">
                                <i class="fa fa-home fa-lg fa-w" aria-hidden="true" style="font-size: 3.5em;"></i>
                            </th:block>
                            <th:block sec:authorize="!hasAnyAuthority('USER_LEVEL_1', 'USER_LEVEL_2')">
                                <i class="fa fa-home fa-lg fa-w" aria-hidden="true"></i>
                            </th:block>
                            <span style="padding-right: 15px;">
                                سامانه مدیریت انبار گواهی سپرده کالایی
                                <span th:if="${storageName != null}" class="show-for-medium" style="border-bottom: none !important; cursor: inherit !important;" data-tooltip th:attr="title=${instrumentDescription}">
                                    <th:block th:text="' - ' + ${storageName}"/>
                                    <span th:if="${instrumentSymbol != null}" th:text="' (' + ${instrumentSymbol} + ')'" class="show-for-large"></span>
                                </span>
                                <div id="headerID" sec:authorize="hasAnyAuthority('USER_LEVEL_1', 'USER_LEVEL_2')" class="show-for-large show-for-medium" style="font-weight: initial; margin-top: 8px;">
                                </div>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li sec:authorize="isAnonymous()">
                        <a href="/login">
                            ورود
                            <i class="fa fa-sign-in fa-w" style="vertical-align: bottom;" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="javascript:document.logoutForm.submit()" role="menuitem">
                            خروج
                            <i class="fa fa-sign-out fa-w" style="vertical-align: bottom;" aria-hidden="true"></i>
                        </a>
                        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                            <input hidden type="submit" value="Sign Out"/>
                        </form>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="/reset-password">
                            تغییر رمز
                            <i class="fa fa-key fa-w" style="vertical-align: bottom;" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li sec:authorize="hasAuthority('ADMIN') || hasAuthority('SURVEILLANCE')">
                        <a href="/register">
                            ثبت‌نام کاربر جدید
                            <i class="fa fa-user-plus fa-w" style="vertical-align: bottom;" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
</body>
</html>
