<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:form="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ٰپروفایل کاربری</title>
</head>

<body>
<div class="row align-center large-12 xlarge-11" layout:fragment="main-content">
    <div class="large-2 show-for-large cell right" data-sticky-container>
        <div data-sticky data-top-anchor="central-widget">
            <div th:replace="fragments/menus/root_menu :: menu('/user-profile')"></div>
            <div class="spacer"></div>
        </div>
    </div>

    <div id="central-widget" class="large-10 columns">
        <button type="button" class="button primary hide-for-large" data-toggle="form-dropdown" data-close-on-click="true">
            <i class="fa fa-bars fa-fw" aria-hidden="true"></i>
            منو
        </button>
        <a href="/" class="button float-left">
            <i class="fa fa-backward fa-fw" aria-hidden="true"></i>
            بازگشت
        </a>
        <div class="dropdown-pane" id="form-dropdown" data-dropdown data-auto-focus="true" data-close-on-click="true">
            <div th:replace="fragments/menus/root_menu :: menu('/user-profile')"></div>
        </div>
        <hr class="multi-step-checkout-form-divider">

        <div th:replace="fragments/flash_messages :: messages"></div>

        <h3>پروفایل کاربری <span th:text="${profile.fullName}"></span></h3>

        <div id="profile-info">
            <table>
                <tbody>
                <tr>
                    <td width="200px">نام انبار</td>
                    <td  th:text="${profile.storageName}"></td>
                </tr>
                <tr>
                    <td>نماد</td>
                    <td th:text="${profile.instrumentName}"></td>
                </tr>
                <tr>
                    <td>تاریخ سررسید</td>
                    <td id="dueDate" th:text="${profile.dueDate}"></td>
                </tr>
                <tr>
                    <td>نام و نام خانوادگی</td>
                    <td th:text="${profile.fullName}"></td>
                </tr>
                <tr>
                    <td>نام کاربری</td>
                    <td th:text="${profile.userName}"></td>
                </tr>
                <tr>
                    <td width="200px">نقش کاربری</td>
                    <td th:text="${profile.roleName}"></td>
                </tr>
                <tr>
                    <td>پست الکترونیک</td>
                    <td th:text="${profile.email}"></td>
                </tr>
                <tr>
                    <td>شماره تماس</td>
                    <td style="direction: ltr; text-align: right;">
                        <a th:href="'tel:' +  ${profile.phone}" th:text="${profile.phone}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript" src="/js/persian-date.min.js"></script>
    <script type="text/javascript" src="/js/persian-datepicker.min.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let dueDate = /*[[${profile.dueDate}]]*/ '2021-01-01';
        /*]]>*/

        $("#dueDate").html(new persianDate(new Date(dueDate)).format('YYYY/MM/DD'));
    </script>
</th:block>

</body>
</html>

