<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:form="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:if="${outAsset.id != null}">مشاهده انبار خروجی</title>
    <title th:if="${outAsset.id == null}">ایجاد انبار خروجی</title>
</head>

<body>
<div class="row align-center large-12 xlarge-11" layout:fragment="main-content">
    <div class="large-2 show-for-large cell right" data-sticky-container>
        <div data-sticky data-top-anchor="central-widget">
            <div th:replace="fragments/menus/root_menu :: menu('/out-assets')"></div>
            <div class="spacer"></div>
        </div>
    </div>

    <div id="central-widget" class="large-10 columns">
        <div class="grid-x grid-margin-x">
            <div class="cell small-3 float-right hide-for-large">
                <button type="button" class="primary button" data-toggle="form-dropdown" data-close-on-click="true">
                    <i class="fa fa-bars fa-fw" aria-hidden="true"></i>
                    منو
                </button>
            </div>
            <div class="cell auto float-left" style="text-align: left;">
                <button th:if="${outAsset.outDate == null}" type="button" class="success button" id="confirm-btn">
                    <i class="fa fa-power-off fa-fw" aria-hidden="true"></i>
                    تأیید نهایی و خروج
                </button>
                <a th:if="${outAsset.outDate != null}" th:href="'/out-assets/print/' + ${id}" class="primary button" target="_blank">
                    <i class="fa fa-print fa-fw" aria-hidden="true"></i>
                    چاپ گواهی
                </a>
                <a href="/out-assets" class="secondary hollow button">
                    <i class="fa fa-remove fa-fw" aria-hidden="true"></i>
                    <span th:if="${outAsset.id == null}">انصراف</span>
                    <span th:if="${outAsset.id != null}">بازگشت</span>
                </a>
            </div>
        </div>
        <div class="dropdown-pane" id="form-dropdown" data-dropdown data-auto-focus="true" data-close-on-click="true">
            <div th:replace="fragments/menus/root_menu :: menu('/out-assets')"></div>
        </div>
        <hr class="multi-step-checkout-form-divider">

        <div th:replace="fragments/flash_messages :: messages"></div>

        <div id="out-asset-form" class="multi-step-checkout-process">
            <div class="multi-step-checkout-process-step">
                <ul class="accordion" data-accordion>
                    <li class="accordion-item is-active" data-accordion-item>
                        <div th:if="${outAsset.id != null}" class="accordion-title">انبار خروجی</div>

                        <div class="accordion-content" data-tab-content>
                            <form class="multi-step-checkout-form"
                                  th:action="${outAsset.id == null ? '/out-assets/new' : ('/out-assets/edit/' + id)}"
                                  th:object="${outAsset}" accept-charset="UTF-8" method="post">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                <div class="row">
                                    <div class="small-12 medium-12 column">
                                        <div class="shipping-address multi-step-checkout-step-section">
                                            <h6 class="multi-step-checkout-step-subheader">مشخصات سهامدار</h6>
                                            <p class="multi-step-checkout-step-subdesc">اطلاعات سهامدار را مشاهده نمایید.</p>

                                            <div class="row">
                                                <div class="small-12 medium-4 large-3 column">
                                                    <label for="outAsset_ptcode">
                                                        کد سهامداری
                                                        <input th:field="*{investor.ptcode}" type="text" readonly id="outAsset_ptcode"/>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="small-12 medium-3 large-3 column">
                                                    <label for="outAsset_investor_nationalId">
                                                        شماره ملی
                                                        <input th:field="*{investor.nationalId}" type="number" readonly id="outAsset_investor_nationalId" dir="ltr"/>
                                                    </label>
                                                </div>
                                                <div class="small-12 medium-4 large-3 column">
                                                    <label for="outAsset_investor_firstName">
                                                        نام
                                                        <input th:field="*{investor.firstName}" type="text" readonly id="outAsset_investor_firstName"/>
                                                    </label>
                                                </div>
                                                <div class="small-12 medium-5 large-4 column">
                                                    <label for="last_name">
                                                        نام خانوادگی
                                                        <input th:field="*{investor.lastName}"
                                                              type="text" readonly
                                                              id="last_name"/>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="shipping-address multi-step-checkout-step-section">
                                            <h6 class="multi-step-checkout-step-subheader">اطلاعات کالای خروجی</h6>
                                            <p class="multi-step-checkout-step-subdesc">مقدار، شرح و سایر اطلاعات مربوط به خروج کالا به این صورت است.</p>

                                            <div class="row">
                                                <div class="small-12 medium-3 large-3 column">
                                                    <label for="outAsset_quantity" th:classappend="${errors?.containsKey('quantity')} ? 'is-invalid-label' : ''">
                                                        مقدار کالا
                                                        <div class="input-group">
                                                            <input th:field="*{quantity}" readonly
                                                                   type="number" dir="ltr"
                                                                   th:classappend="${errors?.containsKey('quantity')} ? 'is-invalid-input' : ''"
                                                                   id="outAsset_quantity"/>
                                                            <span class="input-group-label" th:text="${weightUnit}"></span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="small-12 medium-4 large-3 column">
                                                    <label for="clearanceDate_j">
                                                        زمان ترخیص
                                                        <div class="input-group">
                                                            <input type="text" readonly id="clearanceDate_j" />
                                                            <span class="input-group-label clear-input"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i></span>
                                                        </div>
                                                        <input type="hidden" th:field="*{clearanceDate}" id="outAsset_clearanceDate"/>
                                                    </label>
                                                </div>

                                                <div class="small-12 medium-4 large-3 column">
                                                    <label for="outAsset_outDate">
                                                        زمان خروج نهایی
                                                        <div class="input-group">
                                                            <input type="text" readonly id="outDate_j"/>
                                                            <span class="input-group-label clear-input"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i></span>
                                                        </div>
                                                        <input type="hidden" th:field="*{outDate}" id="outAsset_outDate"/>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="shipping-address multi-step-checkout-step-section">
                                            <h6 class="multi-step-checkout-step-subheader">هزینه‌ها</h6>
                                            <p class="multi-step-checkout-step-subdesc">برآورد نهایی هزینه‌ها به این صورت می‌باشد.</p>

                                            <div class="row">
                                                <div class="small-12 medium-3 large-3 column">
                                                    <label for="outAsset_cost">
                                                        هزینه انبار بورسی
                                                        <div class="input-group">
                                                            <input th:field="*{cost}"
                                                                   type="number" dir="ltr" readonly
                                                                   th:classappend="${errors?.containsKey('cost')} ? 'is-invalid-input' : ''"
                                                                   id="outAsset_cost"/>
                                                            <span class="input-group-label">﷼</span>
                                                        </div>
                                                    </label>
                                                </div>
                                                <div class="small-12 medium-3 large-3 column">
                                                    <label for="outAsset_ocost">
                                                        هزینه انبار موقت
                                                        <div class="input-group">
                                                            <input th:field="*{ocost}"
                                                                   type="number" dir="ltr" readonly
                                                                   th:classappend="${errors?.containsKey('cost')} ? 'is-invalid-input' : ''"
                                                                   id="outAsset_ocost"/>
                                                            <span class="input-group-label">﷼</span>
                                                        </div>
                                                    </label>
                                                </div>
                                                <div class="small-12 medium-3 large-3 column">
                                                    <label for="outAsset_vat">
                                                        مالیات بر ارزش افزوده
                                                        <div class="input-group">
                                                            <input th:field="*{vat}"
                                                                   type="number" dir="ltr" readonly
                                                                   th:classappend="${errors?.containsKey('vat')} ? 'is-invalid-input' : ''"
                                                                   id="outAsset_vat"/>
                                                            <span class="input-group-label">﷼</span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="small-12 medium-3 large-3 column">
                                                    <label for="totalCost">
                                                        هزینه کل
                                                        <div class="input-group">
<!--                                                             <input th:value="*{((vat != null ? vat : 0)  + (ocost != null ? ocost : 0) + (cost != null ? cost : 0))}"-->
                                                            <input th:field="*{tcost}"
                                                                   type="number" dir="ltr" readonly
                                                                   id="totalCost"/>
                                                            <span class="input-group-label">﷼</span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="reveal" id="confirmModal" data-reveal>
        <form id="confirm-form" th:action="'/out-assets/exit/' + ${id}" method="post">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <div class="row">
                <div class="small-12 medium-12 column">
                    <h5>تأیید نهایی خروج از انبار</h5>
                </div>

                <div class="small-12 medium-12 column" style="margin-top: 16px;">
                    <input id="confirm-cb" type="checkbox"><label for="confirm-cb">از صحت اطلاعات مندرج در فرم اطمینان دارم.</label>
                </div>
                <div class="small-12 medium-12 column">
                    <input type="submit" name="confirm" class="success button float-left" value="تأیید نهایی"/>
                </div>
            </div>
        </form>
        <button class="close-button" data-close aria-label="Close modal" type="button" style="left: 1rem; right: inherit;">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

</div>

<th:block layout:fragment="script">
    <script type="text/javascript" src="/js/persian-date.min.js"></script>
    <script type="text/javascript" src="/js/persian-datepicker.min.js"></script>
    <script type="text/javascript" src="/js/datePickerRange.js"></script>

    <script th:inline="javascript">
        $(window).resize(function () {
            // https://get.foundation/sites/docs/dropdown.html#close
            $(".dropdown-pane").foundation('close');
        });

        const form = $('#confirm-form');
        $('#confirm-cb').click(function() {
            this.checked ? form.unbind('submit').submit(confirm) : form.submit(false);
            form.find('input[type=submit]').attr('disabled', !this.checked);
        });
        const confirm = function (e) {
            form.find('input[type=submit]').attr('disabled', true);
        };
        $('#confirm-btn').click(function () {
            confirmBox.open();
            $('#confirm-cb').prop('checked', true).trigger('click');
        });
        window.confirmBox = new Foundation.Reveal($('#confirmModal'));

        setup_jalali_datepicker($('#clearanceDate_j'), $('#outAsset_clearanceDate'));
        setup_jalali_datepicker($('#outDate_j'), $('#outAsset_outDate'));
    </script>
</th:block>

</body>
</html>
