<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>درخواست ترخیص دارایی</title>
</head>

<body>
<div class="row align-center large-12 xlarge-11" layout:fragment="main-content">
    <div class="large-2 show-for-large cell right" data-sticky-container>
        <div data-sticky data-top-anchor="central-widget">
            <div th:replace="fragments/menus/root_menu :: menu('/assets')"></div>
            <div class="spacer"></div>
        </div>
    </div>

    <div id="central-widget" class="large-10 columns">
        <div class="row">
            <div class="column float-right hide-for-large">
                <button type="button" class="primary button" data-toggle="form-dropdown" data-close-on-click="true">
                    <i class="fa fa-bars fa-fw" aria-hidden="true"></i>
                    منو
                </button>
            </div>
            <div class="column float-left" style="text-align: left;">
                <a th:href="'/assets'" class="primary hollow button">
                    <i class="fa fa-remove fa-fw" aria-hidden="true"></i>
                    <span>انصراف</span>
                </a>
            </div>
        </div>
        <div class="dropdown-pane" id="form-dropdown" data-dropdown data-auto-focus="true" data-close-on-click="true">
            <div th:replace="fragments/menus/root_menu :: menu('/assets')"></div>
        </div>
        <hr class="multi-step-checkout-form-divider">

        <div th:replace="fragments/flash_messages :: messages"></div>

        <div id="asset-form" class="multi-step-checkout-process">
            <div class="multi-step-checkout-process-step">
                <ul class="accordion" data-accordion>
                    <li class="accordion-item is-active" data-accordion-item>
                        <div class="accordion-title">ثبت درخواست ترخیص دارایی</div>

                        <div class="accordion-content" data-tab-content>
                            <form class="multi-step-checkout-form" th:object="${clearanceRequest}" th:action="${'/assets/clear/' + asset.id}" method="post">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <div class="row">
                                    <div class="small-12 medium-12 column">
                                        <div class="shipping-address multi-step-checkout-step-section">
                                            <h6 class="multi-step-checkout-step-subheader">اطلاعات سهامدار</h6>
                                            <p class="multi-step-checkout-step-subdesc">لطفاً نسبت به درستی اطلاعات سهامدار اطمینان حاصل نمایید.</p>

                                            <div class="row">
                                                <div class="small-12 medium-4 large-4 column">
                                                    <label for="clearanceRequest_investor_ptcode" th:classappend="${errors?.containsKey('investor.ptcode')} ? 'is-invalid-label' : ''">
                                                        کد سهامداری
                                                        <input th:value="${asset.investor.ptcode}" readonly
                                                                type="text"
                                                                th:classappend="${errors?.containsKey('investor.ptcode')} ? 'is-invalid-input' : ''"
                                                                id="clearanceRequest_investor_ptcode"/>
                                                    </label>
                                                </div>
                                                <div class="small-12 medium-4 large-4 column">
                                                    <label for="clearanceRequest_investor_asciiPtcode" th:classappend="${errors?.containsKey('investor.asciiPtcode')} ? 'is-invalid-label' : ''">
                                                        کد ۱۴ رقمی
                                                        <input th:value="${asset.investor.asciiPtcode}" readonly
                                                               type="number" dir="ltr"
                                                               th:classappend="${errors?.containsKey('investor.asciiPtcode')} ? 'is-invalid-input' : ''"
                                                               id="clearanceRequest_investor_asciiPtcode"/>
                                                    </label>
                                                </div>
                                                <div class="small-12 medium-4 large-3 column">
                                                    <label for="clearanceRequest_investor_nationalId">
                                                        شماره ملی / ثبت
                                                        <input th:value="${asset.investor.nationalId}" type="number" dir="ltr" id="clearanceRequest_investor_nationalId" readonly/>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="small-12 medium-3 large-2 column">
                                                    <label for="asset_quantity">
                                                        موجودی بورسی
                                                        <div class="input-group">
                                                            <!-- TODO -->
                                                            <!-- <input th:field="${asset.quantity}" -->
                                                            <input
                                                                   type="number" dir="ltr" readonly
                                                                   th:value="${asset.quantity}"
                                                                   th:classappend="${errors?.containsKey('asset.quantity')} ? 'is-invalid-input' : ''"
                                                                   id="asset_quantity"/>
                                                            <span class="input-group-label" th:text="${weightUnit}"></span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="shipping-address multi-step-checkout-step-section">
                                            <h6 class="multi-step-checkout-step-subheader">جزئیات ترخیص</h6>
                                            <p class="multi-step-checkout-step-subdesc">مقدار و شرح مناسب برای ترخیص ثبت نمایید.</p>

                                            <div class="row">
                                                <div class="small-12 medium-3 large-2 column">
                                                    <label for="clearanceRequest_quantity" th:classappend="${errors?.containsKey('quantity')} ? 'is-invalid-label' : ''">
                                                        مقدار کالا
                                                        <div class="input-group">
                                                            <input th:field="*{quantity}"
                                                                   type="number" dir="ltr"
                                                                   th:classappend="${errors?.containsKey('quantity')} ? 'is-invalid-input' : ''"
                                                                   id="clearanceRequest_quantity"/>
                                                            <span class="input-group-label" th:text="${weightUnit}"></span>
                                                        </div>
                                                    </label>
                                                </div>
                                                <div class="small-12 medium-12 column">
                                                    <label for="clearanceRequest_description" th:classappend="${errors?.containsKey('description')} ? 'is-invalid-label' : ''">
                                                        توضیحات
                                                        <textarea th:field="*{description}"
                                                                  placeholder="شرح و توضیحات ترخیص"
                                                                  th:classappend="${errors?.containsKey('description')} ? 'is-invalid-input' : ''"
                                                                  id="clearanceRequest_description"></textarea>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <input type="submit" name="commit" class="primary button expanded" value="ثبت درخواست ترخیص"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(window).resize(function () {
            // https://get.foundation/sites/docs/dropdown.html#close
            $(".dropdown-pane").foundation('close');
        });
    </script>
</th:block>

</body>
</html>