<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:if="${asset.id == null}">ایجاد دارایی</title>
    <title th:if="${asset.id != null}">ویرایش دارایی</title>
</head>

<body>
<div class="row align-center large-12 xlarge-11" layout:fragment="main-content">
    <div class="large-2 show-for-large cell right" data-sticky-container>
        <div data-sticky data-top-anchor="central-widget">
            <div th:replace="fragments/menus/root_menu :: menu('/assets')"></div>
            <div class="spacer"></div>
        </div>
    </div>

    <div id="central-widget" class="large-10 columns">
        <div class="row">
            <div class="column float-right hide-for-large">
                <button type="button" class="primary button" data-toggle="form-dropdown" data-close-on-click="true">
                    <i class="fa fa-bars fa-fw" aria-hidden="true"></i>
                    منو
                </button>
            </div>
            <div class="column float-left" style="text-align: left;">
                <a th:href="'/assets/clear/' + ${id}" class="success button">
                    <i class="fa fa-remove fa-fw" aria-hidden="true"></i>
                    درخواست ترخیص
                </a>
                <a href="/assets" class="primary hollow button">
                    <i class="fa fa-remove fa-fw" aria-hidden="true"></i>
                    <span th:if="${asset.id == null}">انصراف</span>
                    <span th:if="${asset.id != null}">بازگشت به لیست دارایی‌ها</span>
                </a>
            </div>
        </div>
        <div class="dropdown-pane" id="form-dropdown" data-dropdown data-auto-focus="true" data-close-on-click="true">
            <div th:replace="fragments/menus/root_menu :: menu('/assets')"></div>
        </div>
        <hr class="multi-step-checkout-form-divider">

        <div th:replace="fragments/flash_messages :: messages"></div>

        <div id="asset-form" class="multi-step-checkout-process">
            <div class="multi-step-checkout-process-step">
                <ul class="accordion" data-accordion>
                    <li class="accordion-item is-active" data-accordion-item>
                        <div th:if="${asset.id == null}" class="accordion-title">ایجاد دارایی</div>
                        <div th:if="${asset.id != null}" class="accordion-title">ویرایش دارایی</div>

                        <div class="accordion-content" data-tab-content>
                            <form class="multi-step-checkout-form" th:object="${asset}">
                                <div class="row">
                                    <div class="small-12 medium-12 column">
                                        <div class="shipping-address multi-step-checkout-step-section">
                                            <h6 class="multi-step-checkout-step-subheader">مشخصات دارایی</h6>
                                            <p class="multi-step-checkout-step-subdesc">مقدار دارایی در انبار و سایر اطلاعات شناسایی</p>

                                            <div class="row">
                                                <div class="small-12 medium-3 column">
                                                    <label for="asset_quantity" th:classappend="${errors?.containsKey('quantity')} ? 'is-invalid-label' : ''">
                                                        مقدار کالا
                                                        <div class="input-group">
                                                            <input th:field="*{quantity}"
                                                                   type="number" dir="ltr"
                                                                   th:classappend="${errors?.containsKey('quantity')} ? 'is-invalid-input' : ''"
                                                                   id="asset_quantity"/>
                                                            <span class="input-group-label" th:text="${weightUnit}"></span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <input th:if="${asset.id != null}" type="submit" name="commit" class="primary button expanded" value="ویرایش دارایی"/>
                                        <input th:if="${asset.id == null}" type="submit" name="commit" class="primary button expanded" value="ایجاد دارایی"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(window).resize(function () {
            // https://get.foundation/sites/docs/dropdown.html#close
            $(".dropdown-pane").foundation('close');
        });
    </script>
</th:block>

</body>
</html>