<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title>خطا</title>
</head>

<body>
<div class="row align-center large-12 xlarge-11" layout:fragment="main-content">
    <div style="display:none">ERROR_PAGE_IDENTIFIER</div>

    <div class="column">
        <div class="row align-center">
            <div class="column" style="text-align: center; font-size: 10em;">
                <i class="fa fa-bug fa-lg" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row align-center">
            <div class="column" style="text-align: center; font-size: 5em;" th:text="${statusCode}"></div>
        </div>
    </div>
</div>

</body>
</html>
