<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>واحد مدیریت</title>
</head>

<body>

<div class="row align-center xlarge-11 large-12" layout:fragment="main-content">
    <div class="large-2 show-for-large cell right" data-sticky-container>
        <div data-sticky data-top-anchor="central-widget">
            <div th:replace="fragments/menus/root_menu :: menu('/')"></div>
        </div>
    </div>

    <div id="central-widget" class="large-10 columns">
        <button type="button" class="button primary hide-for-large" data-toggle="form-dropdown" data-close-on-click="true">
            <i class="fa fa-bars fa-fw" aria-hidden="true"></i>
            منو
        </button>
        <div class="dropdown-pane" id="form-dropdown" data-dropdown data-auto-focus="true" data-close-on-click="true">
            <div th:replace="fragments/menus/root_menu :: menu('/')"></div>
        </div>
        <hr class="multi-step-checkout-form-divider hide-for-large">

        <div th:replace="fragments/flash_messages :: messages"></div>

        <div class="row">
            <div class="columns small-12 multi-step-checkout-process">
                <ul class="accordion" data-accordion>
                    <li class="accordion-item is-active" data-accordion-item>
                        <div class="accordion-content" data-tab-content>
                            <div class="multi-step-checkout-enews-sign-up">
                                <h3 style="color: #191970; text-align: center;">سامانه مدیریت انبار گواهی سپرده کالایی</h3>
                                <hr>
                                <h5>نام: <strong th:text="${user.fullname} + ' (' + ${user.username} + ')'" style="color: midnightblue"></strong></h5>
                                <h5>سطح دسترسی: <strong th:text="${user.role.description}" style="color: midnightblue"></strong></h5>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="columns medium-6 small-12 multi-step-checkout-process">
                <ul class="accordion" data-accordion>
                    <li class="accordion-item is-active" data-accordion-item>
                        <div class="accordion-content" data-tab-content>
                            <div id="container1"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <br>
            <div class="columns medium-6 small-12 multi-step-checkout-process">
                <ul class="accordion" data-accordion>
                    <li class="accordion-item is-active" data-accordion-item>
                        <div class="accordion-content" data-tab-content>
                            <div id="container2"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript" src="/js/highcharts.js"></script>
    <script type="text/javascript" src="/js/getDataForPieChart.js"></script>

    <script>
        $(window).resize(function() {
            // https://get.foundation/sites/docs/dropdown.html#close
            $(".dropdown-pane").foundation('close');
        });

        window.chart1 = null;
        window.chart2 = null;
        updateChart = function() {
            window.chart1 = getDataForPieChart('container1', 'درخواست های ایجاد دارایی', '/assets/status', window.chart1);
            window.chart2 = getDataForPieChart('container2', 'درخواست های ترخیص', '/clearance-requests/status', window.chart2);
        };
        updateChart();
        window.setInterval(updateChart, 60000);
    </script>
</th:block>

</body>
</html>
