<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>واحد انبارداری</title>
</head>

<body>
<div class="row align-center xlarge-9 large-10" layout:fragment="main-content">
    <div class="large-3 show-for-large cell right" data-sticky-container>
        <div data-sticky data-top-anchor="central-widget">
            <div th:replace="fragments/menus/root_menu :: menu('/')"></div>
            <div class="spacer"></div>
        </div>
    </div>

    <div id="central-widget" class="large-9 columns">
        <button type="button" class="button primary hide-for-large" data-toggle="form-dropdown" data-close-on-click="true">
            <i class="fa fa-bars fa-fw" aria-hidden="true"></i>
            منو
        </button>
        <div class="dropdown-pane" id="form-dropdown" data-dropdown data-auto-focus="true" data-close-on-click="true">
            <div th:replace="fragments/menus/root_menu :: menu('/')"></div>
        </div>
        <hr class="multi-step-checkout-form-divider hide-for-large">

        <div th:replace="fragments/flash_messages :: messages"></div>

        <div class="row">
            <div class="columns small-12 multi-step-checkout-process">
                <ul class="accordion" data-accordion>
                    <li class="accordion-item is-active" data-accordion-item>
                        <div class="accordion-content" data-tab-content>
                            <h3 th:text="${user.storage.name}" style="text-align: center; color: #191970;"></h3>
                            <h4 th:text="${user.storage.instrument.symbolDesc} + ' (' + ${user.storage.instrument.symbol} + ')'" style="text-align: center; color: #191970"></h4>
                            <hr>
                            <h5>نام: <strong th:text="${user.fullname} + ' (' + ${user.username} + ')'" style="color: midnightblue"></strong></h5>
                            <h5>سطح دسترسی: <strong th:text="${user.role.description}" style="color: midnightblue"></strong></h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="columns medium-4 small-12 multi-step-checkout-process">
                <ul class="accordion" data-accordion>
                    <li class="accordion-item is-active" data-accordion-item>
                        <div class="accordion-content" style="text-align: center;" data-tab-content>
                            <div id="container1"></div>
                            <hr class="multi-step-checkout-form-divider">
                            <div id="container2"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="columns medium-8 small-12 multi-step-checkout-process">
                <ul class="accordion" data-accordion>
                    <li class="accordion-item is-active" data-accordion-item>
                        <div class="accordion-content" data-tab-content>
                            <div id="container4"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script src="/js/highcharts.js"></script>
    <script type="text/javascript" src="/js/getDataForPieChart.js"></script>
    <script type="text/javascript" src="/js/getDataForUser.js"></script>

    <script>
        $(window).resize(function() {
            // https://get.foundation/sites/docs/dropdown.html#close
            $(".dropdown-pane").foundation('close');
        });

        window.chart1 = null;
        updateChart = function() {
            getDataForUser('container1', 'درخواست‌های ترخیص','/clearance-requests/user-status');
            getDataForUser('container2', 'درخواست‌های دارایی', '/assets/user-status');
            window.chart1 = getDataForPieChart('container4', 'ظرفیت انبارها', '/storages/status', window.chart1);
        };
        updateChart();
        window.setInterval(updateChart, 60000);
    </script>
</th:block>

</body>
</html>